html {
  box-sizing: border-box;
  scroll-behavior: auto;
}

.grid{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 400px 400px;
  justify-content: center;

}

img{
  height: 400px;
  width: 350px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans Mono', monospace;
}

nav {
  background-color: #b3cf99;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  padding: 1.25em 0 1.25em 0;
}

nav ul li {
  padding: 0 .5em;
}

nav ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #006400;
}

.hero-banner {
  width: 100%;
  height: 40vh;
  background-image: url(https://cdn.discordapp.com/attachments/703816993928773754/1024741070405382185/Screen_Shot_2022-09-28_at_1.54.21_PM.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
color: #fff;
}

.flex {
  display: flex;
  gap: 3%;
}

.card {
  width: 50%;
  padding: 2em;
  background-color: #EEDC9A
}

.card h2 {
  margin-top: 0;
}

.card h3 {
  margin-top: 0;
}

footer {
  background-color: #b3cf99;
  color: #fff;
}
